text-to-speech-models/en-jarvis-medium/jarvis-medium.onnx filter=lfs diff=lfs merge=lfs -text
vosk-model-en-us-0.22-lgraph/am/final.mdl filter=lfs diff=lfs merge=lfs -text
vosk-model-en-us-0.22-lgraph/graph/HCLr.fst filter=lfs diff=lfs merge=lfs -text
